body {
    margin: 0;
    background-image: url(images/bg1.jpg);
    background-repeat: repeat-y;
    font-family: "Verdana", "Arial", "sans-serif";
    padding: 0px;

}

H1 {
    color: #FFFFFF;
    font-size: 20px;;
    background-color: #666666
}

H2 {
    color: rgb(0, 0, 128);
    font-size: 18px;
}

H3 {
    color: rgb(0, 0, 128);
    font-size: 16px;
}

H4 {
    font-size: 14px;
    color: rgb(0, 0, 128);
}

TD {
    font-size: 14px;
}

A:link {
    text-decoration: none;
    font-weight: bold;
}

A:visited {
    color: #333333;;
    text-decoration: none;
    font-weight: bold;
}

A:hover {
    color: #993366;
    font-weight: bold;
}

A:active {
    color: #000066;
}

.date {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #999999;
    font-family: "Courier New", "Courier", "mono";
    text-align: left;
    text-indent: 1em;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 2px;
    clear: right;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    background-image: url(images/bg-silk.jpg);
    background-repeat: repeat-x;
    height: 20px;
    font-style: italic;
    font-family: "Georgia", "Times New Roman", "Times", "serif";
    vertical-align: middle;
    margin: 0px;
    padding: 0px;

}

.bold {
    font-weight: bold;
    font-size: 14px;
}

.size_10 {
    font-size: 10px;
}

.copyright {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #333333;
    padding-top: 5px;
    padding-bottom: 3px;
}

.align_center {
    text-align: center;
    vertical-align: top;
}

.main_title {
    font-family: "Georgia", "Times New Roman", "Times", "serif";
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    font-style: italic;
    margin-bottom: 20px;
    width: 185px;
    text-align: center;
}

.link_head1 {
    font-family: "Courier New", "Courier", "mono";
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    white-space: nowrap;
    margin-left: 10px;
}

.padding1 {
    font-size: 14px;
    line-height: 160%;
    margin: 5px;
    padding: 4px;
    text-align: left;
    vertical-align: top;
}

.time {
    font-family: "Courier New", "Courier", "mono";
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
}

.edit {
    font-size: 14px;
}

.icon {
    font-size: 12px;
    text-align: center;
    font-family: "Verdana", "Tahoma", "Arial", "MS Sans Serif", "sans-serif";
}

.red {
    color: #CC0000
}

.bold-red {
    font-size: 14px;
    font-weight: bold;
    color: #CC0000
}

.diettitle {
    font-size: 14px;
    background-color: #DDDDDD;
    text-align: center;
    width: 150px;
    font-family: "Courier New", "Courier", "mono";
    font-weight: bold;
    padding-right: 1px;
    padding-left: 1px;
}

.diet {
    font-size: 14px;
    text-align: center;
    border: 1px dotted #666666;
    padding-top: 3px;
    padding-right: 1px;
    padding-bottom: 3px;
    padding-left: 1px;
    font-family: "Courier New", "Courier", "mono";
}

.graph {
    font-size: 12px;
    background-color: #DDDDDD;
    text-align: right;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #666666;
}

.graph_title {
    font-size: 10px;
    background-color: #DDDDDD;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
}

.graph_bar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #666666;
}

.graphtitle {
    font-family: "Courier New", "Courier", "mono";
    font-size: 16x;
    font-weight: bold;
    background-color: #CCCCCC;
    text-align: center;
    padding: 2px;
    border: 1px solid #666666;
    margin: 2px;
}

.leftarea {
    width: 185px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.rightarea {
    margin-left: 185px;
    position: static;
    left: 185px;
    top: 0px;
}

.nodisplay {
    display: none;
    height: 10px;
    width: 10px;
    margin: 10px;
}

.menuap {
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    margin-top: 3px;
    margin-bottom: 3px;
    white-space: nowrap;
}

.link {
    font-size: 9px;
    text-align: left;
    vertical-align: middle;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
    white-space: nowrap;
}

.contentsright {
    width: 120px;
    float: right;
    margin-right: 2px;
}

.contentsleft {
    margin-right: 122px;
}

.message {
    font-family: "Courier New", "Courier", "mono";
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 2px;
    border-top: 1px solid #666666;
    margin-top: 10px;
    margin-left: 10px;
}

.menuap-gbook {
    font-size: 10px;
    text-align: right;
    vertical-align: middle;
    margin-top: 3px;
    margin-bottom: 3px;
    white-space: nowrap;
    margin-right: 5px;
}

.guestbook {
    width: 180px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.gname {
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
    color: #000099;
}

.Guestbook-showall {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.td-title1 {
    font-size: 14px;
    font-weight: bold;
    background-color: #DDDDDD;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #666666;
}

.td-title2 {
    font-size: 14px;
    background-color: #EEEEEE;
    padding: 2px 2px 2px 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333333;
    text-align: left;
    line-height: 150%;
    vertical-align: middle;
}

.td-title1-meal {
    font-size: 14px;
    font-weight: bold;
    background-color: #DDDDDD;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #666666;
    font-family: "Courier New", "Courier", "mono";
}

.td-title2-meal {
    font-size: 14px;
    background-color: #EEEEEE;
    padding: 2px 2px 2px 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333333;
    text-align: center;
    line-height: 150%;
    vertical-align: top;
}

.italic {
    font-style: italic;
}

.cntnt-lnk {
    color: #CC6699;
    font-weight: bold;
}

.menu-lnk {
    font-weight: bold;
    color: #333333;
}

.white {
    color: #FFFFFF;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
}

.mono {
    font-family: "ＭＳ Ｐゴシック", "Osaka";
    letter-spacing: 0em;
    text-align: left;
    text-indent: 0pt;
    vertical-align: 0%;
    line-height: 100%;
    white-space: nowrap;
}
