body {
	margin: 0;
	background-image: url(images/bg1.jpg);
	background-repeat: repeat-y;
	font-family: "Verdana", "Tahoma", "Arial", "Osaka";
	font-size: 12px;
	text-decoration: none;



}

H1 {
color : #FFFFFF;
font-size : 14px ;
; background-color: #666666
}

H2 {
color : rgb(0,0,128) ;
font-size : 13px ;
}

H3 {
color : rgb(0,0,128) ;
font-size : 12px ;
}

H4 {
font-size : 11px ;
color : rgb(0,0,128) ;
}

TD {
font-size : 12px;
}

A:link {
	color : #333333;
	font-weight: bold;

}

A:visited {
	color : #666666;
	font-weight: bold;

}

A:hover {
	color : #CC9999;
	font-weight: bold;

}

A:active {
	color : #000066;
	font-weight: bold;

}

.date {
	font-size: 14px;
	font-weight: bold;
	font-family: "Courier New", "Courier", "mono";
	text-align: center;
	color: #000066;
	border: 1px dotted #666666;



}

.title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	font-family: "Courier New", "Courier", "mono";
	padding: 2px;
	border: 2px solid #999999;
	white-space: nowrap;



}

.copyright {
	font-family: "Tahoma", "Verdana", "Arial";
	font-size: 10px;
	font-weight: 400;
	text-align: center;

}

.main_title {
	font-family: "Georgia", "Times New Roman", "Times", "serif";
	font-size: 20px;
	line-height: 130%;
	font-weight: 700;
	color: #333333;
	font-style: italic;
	width: 185px;
	margin-top: 30px;
	margin-bottom: 20px;


}

.link_head1 {
	font-family: "Courier New", "Courier", "mono";
	font-size: 14px;
	font-weight: 700;
	color: #000000;
	text-align: left;
	white-space: nowrap;
	margin-left: 20px;
}
.name {
	font-size: 12px;
	text-align: left;
	text-indent: 1em;
	white-space: nowrap;
	border: 1px dotted #666666;
}
.main-head {
	font-family: "Courier New", "Courier", "mono";
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #666666;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	padding: 2px;
	border: 3px solid #CCCCCC;
}
.play-title {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #333333;
	text-align: center;
	padding: 2px;
	border: 3px solid #CCCCCC;
}
.play {
	font-size: 12px;
	background-color: #CCCCCC;
	text-align: left;
	padding: 2px;
	border: 1px solid #666666;
}
.play-mcin {
	background-color: #666666;
}
