body {
	font-size: 12px;
	line-height: 18px;

}

td {
	font-size: 12px;
	line-height: 18px;

}

th {
	font-size: 12px;
	line-height: 18px;

}

H1 {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	color: #333333;
}

H2 {
	font-size: 16px;
	font-weight: 700;
	color: #000066;
	font-style: normal;

}

H3 {
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	color: #000099;
}

H4 {
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	color: #0000CC;
}
.red {
	font-size: 12px;
	color: #CC0000;
}
.pad {
	margin: 5px;
	padding: 5px;
	line-height: 18px;
}
.bold {
	font-weight: 700;
}
.notes {
	font-size: 10px;
	color: #990000;
}
